body{
    background: lightgrey;
}

canvas{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    
}

 @media screen and (max-width: 640px) {
    canvas {
        position: fixed;
       display: block;
       float: none;
       width:  310px;
       height: 500px;

    }
    
  }